---

sfxName: "glint"
sfxVariants: [
    {
        pronunciation: "American English",
        startCons: ["g","l"],
        vowels: ["I"],
        endCons: ["n", "t"]
      }
  ]

sfxExamples: 

sfxCategory:
  - nonDiegetic
sfxSource:
  - elements
sfxWeight:
  - weightless
sfxVolume:
  - quiet
sfxPitch:
  - high
sfxRhythm:
  - beat

sfxContributors:
  - contributorName: "HK★TMK"
    contributorLink: "https://hikatamika.com/"
---
<ol class="sfx-definitions">
  <li>The non-diegetic sound of a brief glance, or flash of light.</li>
</ol>
