---

sfxName: "grp"
sfxVariants: [
    {
        pronunciation: "American English",
        startCons: ["g","r\\"],
        vowels: ["I"],
        endCons: ["p"]
      }
  ]

sfxExamples:

sfxCategory:
  - neutral
  - imitative
sfxSource:
  - character
  - elements
sfxWeight:
  - light
sfxVolume:
sfxPitch:
  - mid
sfxRhythm:
  - beat

sfxContributors:
  - contributorName: "HK★TMK"
    contributorLink: "https://hikatamika.com/"
---
<ol class="sfx-definitions">
  <li>Stylized spelling of <i>grip</i>. Arguably imitative.</li>
</ol>
