---

sfxName: "pwf"
sfxVariants: [
    {
        pronunciation: "American English",
        startCons: ["p", "w"],
        vowels: ["@"],
        endCons: ["f"]
      }
  ]

sfxCategory:
  - action
sfxSource:
  - elements
  - nature
sfxWeight:
  - weightless
sfxVolume:
  - variable
sfxPitch:
  - mid
sfxRhythm:
  - extendable


sfxContributors:
  - contributorName: "HK★TMK"
    contributorLink: "https://hikatamika.com/"
---
<ol class="sfx-definitions">
  <li>The sound of puffed smoke.</li>
  <li>The sound of magic pushing through the air.</li>
</ol>
