---

sfxName: "skf"
sfxVariants: [
    {
        pronunciation: "American English",
        startCons: ["s","k"],
        vowels: ["@"],
        endCons: ["f"]
      }
  ]

sfxExamples:

sfxCategory:
  - neutral
sfxSource:
  - character
  - motion
sfxWeight:
  - mid
sfxVolume:
  - quiet
sfxPitch:
  - mid
sfxRhythm:
  - beat

sfxContributors:
  - contributorName: "HK★TMK"
    contributorLink: "https://hikatamika.com/"
---
<ol class="sfx-definitions">
  <li>The sound of something skidding as it's dragged across the ground or floor.</li>
  <li>The sound of something skuffing or scratching against something else.</li>
  <li>Stylized spelling of the imitative word, <i>scuff</i>.</li>
</ol>
