---

sfxName: "vroom"
sfxVariants: [
    {
        pronunciation: "American English",
        startCons: ["v", "r\\"],
        vowels: ["u"],
        endCons: ["m"]
      }
  ]

sfxExamples: 

sfxCategory:
  - neutral
sfxSource:
  - machinery
sfxWeight:
sfxVolume:
  - loud
sfxPitch:
  - low
sfxRhythm:
  - extendable

sfxContributors:
  - contributorName: "HK★TMK"
    contributorLink: "https://hikatamika.com/"

sfxRelatedWords: ["vrrm"]
---

<ol class="sfx-definitions">
  <li>The sound of a vehicle engine. Typically that of a car.</li>
</ol>